/*
Theme Name: KingSize
Theme URI: http://themeforest.net/user/Denoizzed
Description: KingSize WordPress: Designed by <a href="http://www.denizzed.com">Denoizzed</a> and Developed into WordPress by <a href="http://www.ourwebmedia.com">OurWebMedia</a>
Author: Denoizzed &amp; Our Web Media
URL:  http://themeforest.net/user/Denoizzed
Author URI: http://themeforest.net/user/Denoizzed
Version: 4.0.3
License:
License URI:
*/


/* ========= CSS Reset ========== */

body, h1, h2, h3, h4, h5, h6, a, p, ul, ol, li, em, strong, pre, code, form {
 padding: 0;
 margin: 0;
}


/* ========= GENERAL STYLES ========== */
html
{height: 100%;}

body {
	color: white;
	font: 12px "Helvetica Neue", Verdana, Helvetica, sans-serif;
	line-height: 20px;
	background: black;
	height: 100%;
	overflow-x: hidden;
}	

body.video_background
{overflow: hidden;}

body.video_background #page_wrap
{position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;}

#wrapper
{width: 1000px;
margin: 0 auto;
position: relative;
height: 100%;
z-index: 100;
}



/* ========= GENERAL STYLES END HERE========== */


/* ======== FONTS ====== --- added v4 */
h1, #navbar li a
{
	font-family: 'PT Sans Narrow', 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

h2, h3, h4, h5
{
	font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}


/* ========= BACKGROUND AND SLIDER STYLES ========== */
.hide
{display: none;}

#mediaspace_wrapper {  z-index: 1; }
#mediaspace_wrapper { position: fixed !important; } 

.grid
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(images/grid.png);
z-index: 10;
}


/* ========= BACKGROUND AND SLIDER STYLES END HERE========== */


/* =========  MENU STYLES ========== */
#menu_wrap
{width: 240px;
display: inline-block;
position: fixed;
top: 0px;
z-index: 500;}

#menu
{background: url(images/menu_back.png) repeat-y top left;
width: 220px;
padding: 0 10px 25px 10px;}

#logo
{width: 220px;
height: 180px;}

#logo h1 a   
{display: block;
width: 220px;
height: 180px;	
background: url(images/logo_back.png) no-repeat top left;
text-indent: -9999px;}


#navbar 
{list-style: none;
margin: 34px 0 -5px 20px;
position: relative;
z-index: 10000;}

#navbar li
{width: 160px;
height: 29px;
padding: 6px 10px 14px;
border-bottom: 1px solid #343434;
position: relative;
z-index: 10000;}

#navbar li:first-child
{border-top: 1px solid #343434;}

#navbar li a
{display: block;
width: 180px;
height: 40px;
font-size: 18px; /* --- modified v4 --- */
color: #a3a3a3;
text-decoration: none;
text-transform: uppercase;
z-index: 20;
outline: none;
font-weight: bold;
}


#navbar li span
{font: bold italic 12px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
color: #555555;
position: absolute;
top: 26px;
left: 10px;
z-index: 10;
text-transform: none;}


#navbar li span.hover_arrow
{width: 30px;
height: 30px;
display: none;
background: url(images/menu_hover_arrow.png) no-repeat top left;
position: absolute;
top: 10px;
left: 150px; 
}

#navbar li.menu-item:hover
{background: url(images/menu_hover_arrow.png) no-repeat center right;
}

#navbar .sub-menu li.menu-item:hover
{background: url(images/submenu_hover_arrow.png) no-repeat right 4px;
}

#navbar li.current-menu-item a, #navbar li.current-menu-ancestor>a
{color: white;}

#navbar li.current-menu-parent>a
{color: white;}

/*#navbar li.current-menu-item a span, #navbar li.current-menu-ancestor a span, #navbar li.current-post-parent a span
{color: #aaaaaa;}

#navbar li.current_page_item .sub-menu li.menu-item a{
color: #a3a3a3;}*/


#navbar li ul
{position: absolute;
top: -1px;
left: 190px;
list-style: none;
background: black;
border: 1px solid #2f2f2f;
z-index: 1000;
width: 180px;
display: none;}


#navbar li ul li ul
{left: 150px;
display: none;
}

#navbar li:hover ul
{display: block;}

#navbar li:hover ul li ul
{display: none;
}

#navbar li:hover ul li:hover ul
{display: block;}

#navbar li ul li
{padding: 0 0 10px 0;
margin: 0 20px;
min-height: 30px;
width: 140px;
border-color: #1b1b1b;
position: relative;
z-index: 1000;}

#navbar li ul li a
{padding: 8px 0px 8px 30px;
display: block;
width: 140px;
height: 20px;
margin: 0 0 0 -10px;
}

#navbar li ul li a
{font-size: 12px;}


#navbar li ul li:hover
{background: url(images/submenu_hover_arrow.png) no-repeat left 5px;
}

#navbar li ul li:first-child
{border-top: none;}

#navbar li ul li:last-child
{border-bottom: none;}

a.not_link
{cursor: default;}

span.not_link
{cursor: default;}

#hide_menu {
background: url(images/hide_menu_back.png) no-repeat bottom left;
width: 220px;
height: 115px;
margin: 0 0 0 0;
padding: 0 30px 0 30px;
position: relative;}

.menu_visible
{background: url(images/menu_hide_arrow_top.png) no-repeat top left;}

.menu_hidden
{background: url(images/menu_hide_arrow_bottom.png) no-repeat top left;}

#hide_menu a
{
display: none;
width: 48px;
height: 48px;
text-indent: -9999px;
position: absolute;
top: 5px;
left: 97px;
outline: none;}

.menu_tooltip
{width: 140px;
height: 30px;
padding: 17px 15px 0 25px;
background: url(images/tooltip.png) no-repeat center center;
position: absolute;
top: 4px;
left: 131px;
font: 12px "Helvetica Neue", Verdana, Helvetica, sans-serif;
line-height: 18px;
display: none;
}



.menu_tooltip div
{position: absolute;
top: 14px;
left: 31px;
}

.menu_tooltip .tooltip_show
{display: none;}


.menu_tooltip p
{text-align: center;}


/* ========= MAIN STYLES ========== */
.body_hiding_content #main_wrap
{
	display: none;
}

#main_wrap {min-height: 100%;
background: url(images/content_back.png) repeat-y top left; 
margin: 0 0 0 240px;}

#main
{position: relative;
width: 680px;
padding: 0 40px 5px 40px;
font: normal 12px Verdana, Arial, sans-serif;
line-height: 20px;
display: inline-block;
z-index: 2;
}

 
#main h1
{font: bold 40px 'PT Sans Narrow', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif; /* --- modified v4 --- */
font-weight: normal;
text-transform: uppercase;
margin: 35px 0 20px 0;
}

#main h2
{font: bold 30px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif; /* --- modified v4 --- */
text-transform: uppercase;
margin: 35px 0 20px 0;
}

#main h2.section_title
{font: bold 30px 'PT Sans Narrow', 'Helvetica Neue', 'Verdana', sans-serif; /* --- modified v4 --- */
font-weight: normal; /* --- added v4 --- */
text-transform: uppercase;
margin: 19px 0 40px 0;
color: white;
/* --- added v4 --- */
}

#main h3
{font: bold 20px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
padding: 30px 0 15px 0;
clear: left;
}

#main h4
{font: italic 16px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
padding: 20px 0 10px 0;
clear: left;

}

#main h5
{font: bold 14px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
padding: 20px 0 10px 0;
clear: left;
}


#main h6
{font: bold 14px 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
padding: 12px 0 10px 0;
clear: left;
}

#content
{float: left;
margin: -28px 0 30px 0;
position: relative;
z-index: 20;}

.content_two_thirds
{width: 460px;}

.content_full_width
{
width: 680px;
}

.right
{margin: 0 -20px 0 0 !important;}

p
{margin-bottom: 20px;}

#content .img_floated_left
{float: left;
margin: 5px 20px 10px 0;
border: none;}

#content .img_floated_right
{float: right;
margin: 5px 0 10px 20px;
border: none;}

#content img
{margin: 0px 0 10px;
border: none;
}

#content img.alignleft
{float: left;
margin: 5px 20px 10px 0; /* Updated in KingSize V3 */
clear: both;}	


#content img.alignright
{float: right;
margin: 5px 0 10px 20px; /* Updated in KingSize V3 */
clear: both;}	


#content ul,  #content ol {
 margin: -10px 0 20px 60px; 
}
 
#content ul li li {
 margin-left: -35px;
}

#content ul ul {
 margin-top: 5px;
}

#content ul li {
 margin-top: 5px;
}

 
.archives {
 margin-left: 20px !important;
 }
 
 .archives a {
 color: #9F9F9F;
 text-decoration: none;
 }
 
 .archives a:hover {
 color: #cfcfcf;
 }
 
#content ul.no_bullets, #content ol.no_bullets
{list-style: none;}

#content ul.floated_left
{margin: 20px 0;
overflow: hidden;
}

#content ul.floated_left li
{float: left;
margin: 10px;
display: inline;
}

blockquote
{display: block;
padding: 15px 30px 30px 60px;
width: 440px;
margin: 0 0 0 15px;
color: #bbbbbb;
font-style: italic;
background: transparent url(images/blockquote.png) no-repeat top left; }


.button {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
margin: 10px;
text-decoration: none;
font: italic bold 14px/100% "Helvetica Neue", Verdana, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
text-decoration: none;
}
.button:active {
position: relative;
top: 1px;
}

/* ========= MAIN STYLES END HERE========== */


/* ========= SEARCH FORM STYLES ==========*/
#searchform
{width: 180px;}

#s
{width: 104px;
margin: 0;
padding: 5px 5px;}

#searchsubmit
{font-size: 12px;
width: 58px;
padding: 4px 0;
}

#page_search
{margin: 40px 0 30px 0;}

#page_search #searchform
{width: 400px;}

#page_search #s
{width: 200px;
margin: 0;
padding: 7px 5px;
margin: 0 5px 0 0;}

#page_search #searchsubmit
{padding: 6px 0;
width: 70px;
}

/* ========= SEARCH FORM STYLES END HERE ==========*/





/* ========= GALLERY STYLES ========= */

/* --- Galleria styles --- */
#gallery_galleria 
{height: 620px;
width: 700px;
margin: -20px 0 15px -10px;
}
/* --- Galleria styles end here --- */


/* --- Slideviewer styles --- */

/*preload classes*/ 
#gallery_slideviewer
{width: 600px;
height: 500px;
overflow: hidden;
}

.svw {width: 50px; height: 20px; background: #fff; }

.svw ul {position: relative; left: -999em; } 

/*core classes*/ 
.stripViewer 
{position: relative; overflow: hidden; border: 5px solid #262626; margin: 0 0 1px 0; } 

.stripViewer ul { /* this is your UL of images */ margin: 0; padding: 0; position: relative; left: 0; top: 0; width: 1%; list-style-type: none;} 

.stripViewer ul li { float:left; } .stripTransmitter { overflow: auto; width: 1%; } .stripTransmitter ul { margin: 0; padding: 0; position: relative; list-style-type: none; } 

.stripTransmitter {padding: 0 0 25px 0;}

.stripTransmitter ul li{ width: 20px; float:left; margin: 0 1px 1px 0; } 

.stripTransmitter a{ font: bold 10px Verdana, Arial; text-align: center; line-height: 22px; background: #262626; color: #fff; text-decoration: none; display: block; } 

.stripTransmitter a:hover, a.current{ background: #fff; color: #262626; } /*tooltips formatting*/ 

.tooltip { padding: 0.5em; background: #fff; color: #000; border: 5px solid #dedede; } 



/* --- prettyphoto / fancybox / colorbox gallery styles --- */

#tip7-title { text-align: left; }

#tip7-title b { display: block; margin-right: 80px; }

#tip7-title span { float: right; margin: -25px 0 0 0; }

body #content.content_full_width .gallery
{margin-top: 20px;
margin-bottom: 20px;
}

#content .gallery ul li a img
{border: none;
}

#content .gallery ul li
{position: relative;
z-index: 1;
}


.gallery_2columns 
{list-style: none;
margin: 0 0 0 -20px;
width: 700px;}

#content.content_full_width .gallery_2columns 
{
	margin: 0 0 0 -20px;
}

.gallery_2columns li
{display: inline;
float: left;
width: 330px;
height: 220px;
margin: 0 0 20px 20px;
position: relative;}


.gallery_3columns 
{list-style: none;

width: 690px;
overflow: hidden;}

#content.content_full_width .gallery_3columns 
{
	margin: 0 0 0 -10px;
}


.gallery_3columns li
{display: inline;
float: left;
width: 220px;
height: 140px;
margin: 0 0 10px 10px;
position: relative;}


.gallery_4columns 
{list-style: none;
width: 700px;
overflow: hidden;} 


#content.content_full_width .gallery_4columns 
{
margin: 0 0 0 -13px;
}

.gallery_4columns li
{display: inline;
float: left;
width: 160px;
height: 110px;
margin: 0 0 13px 13px;
position: relative;}


.gallery_grid
{list-style: none;
margin: 0 0 0 -3px;
width: 710px;
overflow: hidden;} 

#content.content_full_width .gallery_grid
{
margin: 0 0 0 -3px;
}

#content .gallery_grid li
{display: inline;
float: left;
width: 112px;
height: 112px;
margin: 0 0 2px 2px;
position: relative;}

#content .gallery a span, .lightbox_blog span
{
z-index: 2;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
cursor: pointer;
}

.lightbox_blog span
{
height: 98%;
}

.lightbox_blog
{display: block;
position: relative;
margin: 10px 0 10px 0; }

.page-template-template-blog-php a.image
{margin: 10px 0 10px 0;
display: block;}

.lightbox_blog span
{background: black url(images/gallery_hover/hover_image_medium.png) no-repeat center center;}

.gallery .gallery_2columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_big.png) no-repeat center center;
}

.gallery .gallery_2columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_big.png) no-repeat center center;
}

.gallery .gallery_3columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_medium.png) no-repeat center center;
}

.gallery .gallery_3columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_medium.png) no-repeat center center;
}

.gallery .gallery_4columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_small.png) no-repeat center center;
}

.gallery .gallery_4columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_small.png) no-repeat center center;
}

.gallery .gallery_grid a span.image_hover
{background: black url(images/gallery_hover/hover_image_grid.png) no-repeat center center;
}

.gallery .gallery_grid a span.video_hover
{background: black url(images/gallery_hover/hover_video_grid.png) no-repeat center center;
}

/* --- Native WordPress Galleries --- */
.gallery-caption
{ margin: -10px 0 20px; padding: 0 5px 0 5px;
}


/* --- gallery content --- */

#content.content_two_thirds .gallery_2columns
{
	width: 460px;
}

#content.content_two_thirds .gallery_2columns li
{
	width: 220px;
	height: 146px;
	margin: 0 0 7px 10px;
}


#content.content_two_thirds .gallery_2columns li img
{
	width: 220px;
	height: auto;
}

#content.content_two_thirds .gallery_3columns
{
	width: 460px;
	margin: 0 0 0 -10px;
}


#content.content_two_thirds .gallery_3columns li
{
	width: 143px;
	height: 92px;
	margin: 0 0 7px 10px;
}

#content.content_two_thirds .gallery_3columns li img
{
	width: 143px;
	height: auto;
}

#content.content_two_thirds .gallery .gallery_3columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_small.png) no-repeat center center;
}

#content.content_two_thirds .gallery_4columns
{
	width: 460px;
}


#content.content_two_thirds .gallery_4columns li
{
	width: 105px;
	height: 72px;
	margin: 0 0 6px 10px;
}

#content.content_two_thirds .gallery_4columns li img
{
	width: 105px;
	height: auto;
}

#content.content_two_thirds .gallery .gallery_4columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_grid.png) no-repeat center center;
}

#content.content_two_thirds .gallery_grid
{
	width: 460px;
	margin: 0 0 0 -3px;
}

#content.content_two_thirds .gallery_grid li
{
	margin-bottom: 2px;
}

/*  ========= GALLERY STYLES END HERE  ========= */



/*  ========= BLOG STYLES  ========= */

/* --- Post styles --- */
.post h3 a
{font-size: 20px;
font-weight: normal; /* --- modified v4 --- */
color: white;
text-decoration: none;}

.post .metadata
{border-top: 1px solid #343434;
border-bottom: 1px solid #343434;
height: 16px;
padding: 8px 10px 6px 10px;
font: 11px "Helvetica Neue", Verdana, Helvetica, sans-serif;
color: #9e9e9e;
position: relative;
margin: 0px 0 15px 0; /* --- modified v4 --- */}

.post .metadata-no-date
{border-top: 1px solid #343434;
padding: 8px 10px 6px 10px;
font: 11px "Helvetica Neue", Verdana, Helvetica, sans-serif;
color: #9e9e9e;
position: relative;
margin: 10px 0 10px 0;}

.post .metadata a
{position: absolute;
top: 8px;
right: 10px;
text-decoration: none;
color: #9e9e9e;
padding: 0 0 0 25px;
background: url(images/comment.png) no-repeat left -1px;
display: block;}

.post .metadata a:hover
{text-decoration: underline;}

.post .metadata p
{padding: 0 0 0 25px;
background: url(images/calendar.png) no-repeat left -1px;}

.post .metadata_tags
{border-top: 1px solid #343434;
border-bottom: 1px solid #343434;
height: 16px;
padding: 8px 10px 6px 10px;
font: 11px "Helvetica Neue", Verdana, Helvetica, sans-serif;
color: #9e9e9e;
position: relative;
margin: 10px 0 20px 0;}

.post .metadata_tags a
{text-decoration: none;
color: #9e9e9e;
}

.post .metadata_tags a:hover
{text-decoration: underline;}

.post .metadata_tags p
{padding: 0 0 0 25px;
background: url(images/tags.png) no-repeat left -1px;}

.post
{position: relative;
padding: 0 0 0 0;}

.single_post
{padding: 0;}

#content .post img.blog_thumbnail
{border: 0;
margin: 0;}

.post a.thumbnail
{margin: 0 0 20px 0;}

.post p
{color: #c0c0c0;}

.post a.read_more
{
font-size: 12px;
color: white;
padding: 1px 0 0 0;
text-decoration: none;
position: absolute;
right: 0;
bottom: -26px;
}

.post a.read_more:hover
{border-bottom: 1px solid white;
padding: 1px 0 0 0; /* Updated in KingSize V3 */}

/* --- Sidebar styles --- */
#sidebar
{float: left;
width: 180px;
margin: 10px 0 30px 40px;}

#sidebar div
{margin: 0 0 40px;}

#sidebar h3
{font-size: 18px;
padding:0 0 20px 0;
color: #d1d1d1;
font-weight: normal;}

#sidebar ul
{list-style: none;
margin: 0 0 0;}

#sidebar ul li:first-child
{border-top: 1px solid #2b2b2b;}

#sidebar ul li
{border-bottom: 1px solid #2b2b2b;

}

#sidebar ul li a
{
height: 100%;
padding: 4px 10px 6px 10px;
color: #9f9f9f;
text-decoration: none;
display: block;}

#sidebar ul li:hover
{background-color: #121212;
}

#sidebar ul li a:hover
{color: #cfcfcf;

}


#sidebar ul ul
{list-style: none;
margin: 0 0 0;
padding: 0px 0 10px 30px;
}

#sidebar  ul ul li
{border: none;}

#sidebar ul ul li:first-child
{
	border:  none;
}


#sidebar .widget_recent_entries a
{
	padding: 5px 0 5px 23px;
	background:  url('images/posts.png') no-repeat -2px center;
	
}

#sidebar ul#recentcomments a
{border: none;
display: inline;
}

#sidebar ul#recentcomments li
{padding: 7px 0 7px 23px;
background:  url('images/widget-comments.png') no-repeat left center;
}

#sidebar ul#recentcomments li a
{padding: 0;
color: white;
}

#sidebar ul#twitter_list li
{padding: 6px 0 8px 23px;
background:  url('images/widget-twitter.png') no-repeat left center;}

#sidebar ul#twitter_list li a
{padding: 0;
display: inline;
}

#sidebar ul#twitter_list li a.tweet_nofollow
{font-size: 11px;
color: #929292;
}

#sidebar ul#twitter_list li a.tweet_nofollow:hover
{text-decoration: underline;}


#sidebar ul.wGallery li
{border: none;}

#sidebar ul.wGallery li:hover
{background: none;}

#sidebar ul.wGallery li a
{padding: 0 0 20px;
}

#sidebar #searchform
{position: relative;}

#sidebar #searchform label
{position: absolute;
top: 1px;
left: 5px;
font-size: 11px;
}

#sidebar ul a img
{border: none;}

#pagination-container {
	position: relative;
	top: 35px;
}

#pagination
{float: left;
position: relative;
width: 460px;
height: 25px;
padding: 5px 0 35px 0;
}

#pagination a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
display: block;}

#pagination div a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
font-family: 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
}

#pagination div.older a
{position: absolute;
left: 0px;
}

#pagination div.older a:hover
{text-decoration: underline;
}

#pagination div.newer a
{position: absolute;
right: 0px;
}

#pagination div.newer a:hover
{text-decoration: underline;}

#pagination ul
{list-style: none;}

#pagination ul li
{float: left;}

#pagination-full
{float: left;
clear: both;
position: relative;
width: 600px;
height: 25px;
margin-top: 15px;
padding: 5px 0 35px 0;
}

#pagination-full a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
display: block;}

#pagination-full div a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
font-family: 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
}

#pagination-full div.older a
{position: absolute;
left: 0px;
}

#pagination-full div.older a:hover
{text-decoration: underline;
}

#pagination-full div.newer a
{position: absolute;
right: 0px;
}

#pagination-full div.newer a:hover
{text-decoration: underline;}

#pagination-full ul
{list-style: none;}

#pagination-full ul li
{float: left;}

/* --- Comments styles --- */

/* - added v4 - */

#content ol.commentlist {list-style: none; width: 460px; margin: 0;
}
ol.commentlist li {
margin: 20px 0 0 0;

}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {padding: 20px 0 10px 0; margin: 30px 0 10px 0; border-top: 1px dotted #4d4d4d;
}


ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal; font-weight: bold; display: inline-block;  margin: 2px 0 0 0; color: white;
}
ol.commentlist li.comment div.vcard cite.fn a.url {

}
#content ol.commentlist li.comment div.vcard img.avatar {position: absolute; right: 0; width: 30px; height: 30px; padding: 5px; border: 1px solid #303030;
}

ol.commentlist li.comment div.vcard img.avatar:hover
{}

ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {padding: 3px;
border: 1px solid #e9e9e9;
}
ol.commentlist li.comment div.vcard span.says {display: none;
}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 11px; margin: 0 0 20px 0; }
ol.commentlist li.comment div.comment-meta a {color: #8c8c8c; text-decoration: none;
}

ol.commentlist li.comment div.comment-meta a:hover
{
	text-decoration: underline;
}

ol.commentlist li.comment p {clear: left;
}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold; color: #959595; margin: 0;
}
#content ol.commentlist li.comment ul.children {list-style: none; margin: 30px 0 0 30px;}
ol.commentlist li.comment ul.children li {
}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
#content ol.commentlist li.comment ul.children li.depth-2 {margin: 0  0 0 25px;
}
#content ol.commentlist li.comment ul.children li.depth-3 {margin: 0  0 0 50px;
}
#content ol.commentlist li.comment ul.children li.depth-4 {margin: 0  0 0 75px;
}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {}
ol.commentlist li.odd {}
ol.commentlist li.parent {}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

#respond
{
	position: relative;
}

#cancel-comment-reply-link
{
	position: absolute;
	top: 7px;
	right: 0;
	background:  url('images/cross.png') no-repeat left 2px;
	padding: 0 0 0 20px;
}

/*  ========= BLOG STYLES END HERE  ========= */

 


/*  ========= CONTACT PAGE STYLES  ========= */



#contact_ajax
{display: none;}


.page-template-template-contact-php #content
{
	width: 360px;
	margin: 0 60px 0 0;
}

.page-template-template-contact-php #sidebar
{
	width: 230px;
	margin: -2px 0 0 30px;
}

#contact_form
{margin: 27px 0 -50px 0;
min-height: 300px;
position: relative;}

p.contact_info
{font-size: 11px;
margin: 10px 0 20px;
}

input,  textarea
{background: #1b1b1b;
border: 1px solid #333333;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: white;
padding: 5px 5px;
font: 12px 'Helvetica Neue', Verdana, Helvetica, sans-serif;}

#comment_form textarea
{
	width: 100%;
}

#contact_form input
{height: 20px;
width: 200px;
}



#contact_form textarea
{width: 360px;
height: 175px;
}

input:focus,  textarea:focus
{background: #232323;
border: 1px solid #616161;}

input#form_submit
{height: 30px;
padding: 0 0 2px 0;
width: 150px;
background: -moz-linear-gradient(top, #424242,#282828);
background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#282828));
}

input#form_submit:hover
{background: -moz-linear-gradient(top,#282828, #424242);
background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#424242));
cursor: pointer;
}

form p
{position: relative;
margin: 0 0 15px 0;}

#contact_form p label, #comment_form p label
{position: absolute;
top: 3px;
left: 10px;
color: #7b7b7b;
display: none;}

span.error
{position: absolute;
top: 3px;
left: 225px;
font-size: 12px;
color: red;}

span.comment_error
{left: 275px;
width: 100px;
}  

.error_input
{border: 1px solid red;}

#content .success, .post .success
{color: green;
position: absolute;
bottom: 160px;
left: 30px;


}

#content .post .success p, .post .success p
{color: #05ca00;
background: url(images/success.png) no-repeat left 50%;
padding: 5px 0 7px 50px;
}

#content ul.contact_list
{list-style: none;
margin: 0 0 20px 0;
padding: 0;
}

.contact_list li:first-child
{border-top: 1px solid #2b2b2b;

}

#sidebar ul.contact_list li
{padding: 4px 10px 7px 25px;
border-bottom: 1px solid #2b2b2b;
}

.contact_list li a
{
color: #9f9f9f;
text-decoration: none;
display: block;}

.contact_list li.contact_phone
{padding-left: 23px;
background: url(images/phone_Android.png) no-repeat left 7px;
}

.contact_list li.contact_fax
{padding-left: 23px;
background: url(images/fax.png) no-repeat left 7px;
}

.contact_list li.contact_email
{padding-left: 23px;
background: url(images/email.png) no-repeat left 8px;
}

.contact_list li.contact_address
{padding-left: 23px;
background: url(images/house.png) no-repeat left 7px;
}

.map
{border: 1px solid white;
margin: 20px 0 0 0;
}

/*  ========= CONTACT PAGE STYLES END HERE  ========= */


/*  ========= FOOTER STYLES =========  */

#footer
{ 
width: 680px;
padding: 25px 40px 0 0px;
font-size: 12px;
position: relative;
height: auto;
clear: both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


#footer_columns
{width: 680px;
border-top: 1px solid #646464;
margin: 0 auto;
padding: 35px 0 40px 0;
overflow: hidden;}

#footer_columns div
{float: left;
width: 200px;
margin-right: 40px;
}

#footer_columns div.last
{margin-right: 0;	
}

#footer_columns h3
{padding: 0 0 10px 0;
font-size: 16px;
color: #bfbfbf;
border-bottom: 1px solid  #333333;
text-transform: uppercase;
}

#footer_columns div ul
{list-style: none;}

#footer_columns div li
{list-style: none;
}

#footer_columns div li a
{color: #c1c1c1;
display: block;
padding: 5px 0 5px 10px;
border-bottom: 1px solid #333333;
text-decoration: none;
}

#footer_columns div li a:hover
{background: #121212;}

#footer_columns .widget-container
{margin: 0 0 40px 0;}

#footer_copyright
{border-top: 1px solid #646464;
padding: 9px 0 0 0;
position: relative;}

#footer_copyright ul.social
{position: absolute;
right: 0px;
top: 20px;
}


#footer_info
{position: relative;
width: 680px;
margin: 0 auto;
}

#footer_info p
{margin: 7px 0 14px 0;
color: #bebebe;
font-size: 11px;
}

#footer ul.social{
 list-style: none;
}

#footer ul.social li
{float: left;
margin: 0 0 0 9px; 
}

#footer ul.social li a
{border: none;
}

#footer ul.social li a:hover
{background: none;
}

#footer ul.social li a img
{border: none;}


/*---- Tooltip styles------*/

.tipsy { padding: 5px; margin: -5px 0 -5px 0; font-size: 10px; opacity: 0.9; filter: alpha(opacity=90); background-repeat: no-repeat;  background-image: url(images/tipsy.png); position: relative; z-index: 100000;}
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #3b3b3b; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

/*----  Tooltip styles end here ----*/


/*  ========= FOOTER STYLES END HERE =========  */




/* Button color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);

}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);

}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);

}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);

}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);

}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);

}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);

}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);

}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);

}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);

}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);

}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);

}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);

}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);

}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);

}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);

}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);

}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);

}

/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);

}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);

}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);

}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);

}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);

}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);

}

/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);

}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);

}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);

}

/* ============= SHORTCODES ================= */

.one_third
{width: 30%;
float: left;
margin: 0 5% 0 0;}


.one_third_last
{width: 30%;
float: left;
margin: 0;}

.two_thirds 
{width: 65%;
float: left;
margin: 0 5% 0 0;}


.two_thirds_last
{width: 65%;
float: left;
margin: 0;}

.one_half
{width: 45%;
float: left;
margin: 0 10% 0 0;
}

.one_half_last
{width: 45%;
float: left;
margin: 0 0 0 0;
}


.message_box
{position: relative;
width: 480px;
padding: 20px 30px 10px 30px;	
z-index: 99;
margin: 30px 0 30px 70px;
-webkit-border-radius:  5px ;
-moz-border-radius: 5px ;
border-radius: 5px;}

.content_two_thirds .message_box
{
	width: 270px;
}

.message_box_sign
{position: absolute;
top: -20px;
left: -20px;
z-index: 999;
display: block;
width: 48px;
height: 48px;
text-indent: -9999px;}

.info_box
{border: 2px solid #32ace3;
background: #191919;
}


.info_box_sign
{background:  url(images/info_box.png) no-repeat top left;
}


.warning_box
{border: 2px solid #fdc402;
background: #191919;
}

.warning_box_sign
{background:  url(images/warning_box.png) no-repeat top left;
}


.error_box
{border: 2px solid #ef4328;
background: #191919;
}

.error_box_sign
{background:  url(images/error_box.png) no-repeat top left;
}

.download_box
{border: 2px solid #70bf39;
background: #191919;
}

.download_box_sign
{background:  url(images/download_box.png) no-repeat top left;
}

/****************For Top content gallery page *********************/
#content_gallery_top .img_floated_left
{float: left;
margin: 5px 20px 10px 0;
border: none;}

#content_gallery_top .img_floated_right
{float: right;
margin: 5px 0 10px 20px;
border: none;}

#content_gallery_top p {margin-bottom: 20px;}

#content_gallery_top ul,  #content ol {
 margin: -10px 0 20px 60px;
}
#content_gallery_top ul li li {
 margin-left: -35px;
}
#content_gallery_top ul ul {
 margin-top: 5px;
}
#content_gallery_top ul li {
 margin-top: 5px;
}
#content_gallery_top ul.no_bullets, #content ol.no_bullets
{list-style: none;}
#content_gallery_top ul.floated_left
{margin: 20px 0;overflow: hidden;} 

#content_gallery_top ul.floated_left li
{float: left;
margin: 10px;
display: inline;
}

/****************End For Top content gallery page *********************/



/* ---------------- PORTFOLIO STYLES ------------ */

#gallery_prettyphoto.portfolio
{padding: 0 0 20px 0;
overflow: hidden;
}

#gallery_prettyphoto.portfolio ul li
{
display: inline-block;
height: 400px;
margin-bottom:35px;

}

#gallery_prettyphoto.portfolio ul li a img
{border: none;}

#gallery_prettyphoto.portfolio ul li h3 a
{text-decoration: none;}

 #gallery_prettyphoto.portfolio ul li p
 {margin: 10px 0 15px 0;}
 
 #gallery_prettyphoto.portfolio ul li a.more-link
 {-moz-border-radius: 3px; /* FF1-3.6 */
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
   border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
border: 1px solid #2C2C2C;
background: #111111;
text-align: center;
padding: 3px 10px;
width: 80px;
display: block;
color: white;
text-decoration: none;}

 #gallery_prettyphoto.portfolio ul li a.more-link:hover
 {background: #222222;}
 
#gallery_prettyphoto.portfolio a span
{
z-index: 2000;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 98%;
display: none;
cursor: pointer;
}

.portfolio .gallery_2columns a 
{position: relative;
display: block;}

.portfolio .gallery_3columns a 
{position: relative;
display: block;}

.portfolio .gallery_2columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_big.png) no-repeat center center;
}


.portfolio .gallery_2columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_big.png) no-repeat center center;
}

.portfolio .gallery_3columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_medium.png) no-repeat center center;
}

.portfolio .gallery_3columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_medium.png) no-repeat center center;
}

.portfolio .gallery_3columns p {width: 210px;}

div.pp_default .pp_description 
{color: #000;
}


/* ============ ADDED v4 ================= */

/* Columns 
--------------------------------------------- */ 

.one_half
{
	width: 47%;
	float: left;
	margin: 0 5% 0 0;
	display: inline-block;
}

.last
{
	margin: 0;
}


/* Table styles 
---------------------------------------------- */

table a,
table a:link,
table a:visited {
	border:none;
	}							
			
table {
	width:100%;
	border-top:1px solid #5c5c5c;
	border-right:1px solid #5c5c5c;
	margin: 15px 0;
	border-collapse:collapse;
	}
	
	
caption {
		color: #9ba9b4;
		font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
	
	
td {
	color:#d4d4d4;
	border-bottom:1px solid #5c5c5c;
	border-left:1px solid #5c5c5c;
	padding: 5px 10px;
	text-align: center;
	background:#0f0f0f;
	}	
				
th {
	font-weight:normal;
	color: white;
	text-align:left;
	border-bottom: 1px solid #5c5c5c;
	border-left:1px solid#5c5c5c;
	padding: 5px 10px;
	}			
					
thead th {
	background:#313131;
	font-weight: bold;
	color:white;
	padding: 5px 10px;
	text-align: center;
	}	
	
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
	
tfoot th strong {
	margin: 5px 5px 5px 0;
	color:#66a3d3;
		}
				
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	


/* --- zebra horizontal ---*/	
	
	
.zebra_horizontal tr.odd td	{
	background:#222222;
	}


/* --- zebra vertical ---*/	
	
.zebra_vertical .col_odd  {
	background:#222222;
	}


.zebra_vertical td
{
	background: none;
}



/* Pricing Table styles 
---------------------------------------------- */

#pricing_table {
        margin: 15px auto;
        text-align: center;
        width: 100%;
}

#pricing_table .pricing_section {
 
  
        background: #141414;
        border: 1px solid #5a5a5a;
        color: #ebebeb;
        padding: 20px;

        float: left;
        position: relative;
}


#pricing_table.pricing_3_col .pricing_section
{
	width: 184px;
}


#pricing_table.pricing_4_col .pricing_section
{
	width: 128px;
}


#pricing_table.pricing_4_col.table_w_active .pricing_section
{
	width: 124px;
} 

#pricing_table.pricing_3_col.table_w_active .pricing_section
{
	width: 178px;
} 

#pricing_table.pricing_4_col.table_w_active .pricing_active
{
	 width: 137px;
}


#pricing_table.pricing_3_col.table_w_active .pricing_active
{
	 width: 195px;
}

#pricing_table .pricing_active {
        z-index: 2;
        background: #3b3b3b;
        color:  white;
        top: -13px;
        margin: 0 -1px 0 -1px;
        border-width: 3px;
        padding: 30px 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

#pricing_table .plan:nth-child(1) {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
}

#pricing_table .plan:nth-child(4) {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
}

/* --------------- */   

#pricing_table h3 {
        font-size: 20px;
        font-weight: normal;
        padding: 30px 20px 0px 20px;
        margin: -20px -20px 0px -20px;
      


}

#pricing_table #most-popular h3 {
        background-color: #ddd;
        background-image: -moz-linear-gradient(#eee,#ddd);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
        background-image: -webkit-linear-gradient(#eee, #ddd);
        background-image: -o-linear-gradient(#eee, #ddd);
        background-image: -ms-linear-gradient(#eee, #ddd);
        background-image: linear-gradient(#eee, #ddd);
        margin-top: -30px;
        padding-top: 30px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
}


#pricing_table h3 span {
        font: bold 25px/100px Georgia, Serif;
        color: white;
        display: block;
        margin: -5x auto -25px;  
}

/* --------------- */

#pricing_table ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
}

#pricing_table li {
        border-top: 1px solid #ddd;
        padding: 10px 0;
}

/* --------------- */

#pricing_table .signup {
        position: relative;
        padding: 8px 20px;
        margin: 20px 0 0 0;
        color: #fff;
        font: bold 14px Arial, Helvetica;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: #72ce3f;
        background-image: -moz-linear-gradient(#72ce3f, #62bc30);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
        background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
        background-image: -o-linear-gradient(#72ce3f, #62bc30);
        background-image: -ms-linear-gradient(#72ce3f, #62bc30);
        background-image: linear-gradient(#72ce3f, #62bc30);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing_table .signup:hover {
        background-color: #62bc30;
        background-image: -moz-linear-gradient(#62bc30, #72ce3f);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
        background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
        background-image: -o-linear-gradient(#62bc30, #72ce3f);
        background-image: -ms-linear-gradient(#62bc30, #72ce3f);
        background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing_table .signup:active, #pricing_table .signup:focus {
        background: #62bc30;
        top: 2px;
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
        box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1;

}



/* Lists styles 
---------------------------------------------- */


#content .float_left 
{
	float: left;
	margin: 0 0 20px 50px;
}

ul.check_list li
{
padding: 0 0 0 23px;
background:  url(images/elements/accept.png) no-repeat left 2px; list-style: none;
margin: 0 0 0 -23px;
}


ul.circle_list li
{
padding: 0 0 0 20px;
background:  url(images/elements/bullet_red.png) no-repeat left 1px; /* you can use "black", "blue", "green", "orange", "pink", "purple" instead of "red" like "bullet_blue.png"  */

list-style: none;
margin: 0 0 0 -20px;
}

ul.star_list li

{
padding: 0 0 0 20px;
background:  url(images/elements/bullet_star.png) no-repeat left 2px; 
list-style: none;
margin: 0 0 0 -20px;
}


ul.arrow_list li

{
padding: 0 0 0 20px;
background:  url(images/elements/bullet_arrow_right.png) no-repeat left 2px; 
list-style: none;
margin: 0 0 0 -20px;
}


ul.arrow_alt_list li

{
padding: 0 0 0 20px;
background:  url(images/elements/bullet_go.png) no-repeat left 2px; 
list-style: none;
margin: 0 0 0 -20px;
}



/* --- Dropcaps --- */

.dropcaps p:first-child:first-letter { font-size: 340%; float: left; position: relative; margin: 10px 7px 0 0; line-height: 0.7em; font-family: Palatino, Georgia, serif;}

.dropcaps_alt p:first-child:first-letter { font-size: 340%; float: left; position: relative; margin: 7px 7px 0 0; line-height: 0.7em; font-family: Verdana, Arial, sans-serif;}


/* --- Separators --- */

div.separator
{
	border-bottom: 1px solid #383838;
	margin: 20px 0 30px;
	width: 100%;
}

div.separator_top
{
	border-bottom: 1px solid #383838;
	margin: 10px 0;
	width: 90%;
	padding: 0 40px 0 0;
	position: relative;
}

div.separator_top a
{
	position: absolute;
	top: -10px;
	right: -30px;
	text-decoration: none;
}


/* --- Tabs --- */

.tabs-content .tab{display:none;}

.tabs, .tabs_alt { list-style: none; }
.tabs li, .tabs_alt li { display: inline; }
.tabs li a { color: white; float: left; display: block; padding: 4px 10px; position: relative; left: 0px; background: #121212; text-decoration: none; border: 1px solid #2a2a2a; margin: 0 5px -2px 0; color: #ededed; z-index: 0;
}

.tabs_alt li a
{
	 background: #121212;  text-decoration: none; border: 1px solid #2a2a2a; display: inline-block; float: left;
	 padding: 4px 10px;
	 margin: 0 10px 0 0;
	 
	   -webkit-border-radius: 2px; 
	      -moz-border-radius: 2px; 
	           border-radius: 2px; 
	 
	   
	   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	 
	  
}

.tabs li a:hover { background: #1a1a1a; }

.tabs li.active a
{
 position: relative;
 z-index: 1000;
 border-bottom: none;
 background: #1a1a1a;
 color:  white;
}

.tabs_alt li.active a
{
	 border-bottom: 1px solid #2a2a2a; 
	 background: #2a2a2a;
}

.tab_container
{
position: relative;
z-index: 3;
	clear: left;
	margin: -3px 0 0 0;
	list-style: none;
	border: 1px solid #2a2a2a;
	background: #1a1a1a;
	display: block;
	width: 100%;

}

.tab_container_alt
{
	background: none;
	border: none;
	margin: 0;
}

.tab_container div
{
		padding: 20px;
}

.tab_container p {
	margin-bottom: 5px !important;
}

.tab_container_alt div
{
	padding: 20px 0;
}

.tabs_wrap ul {
	margin: 0px !important;
}

.toggle_box p {
	margin-bottom: 0px !important;
}


.tab_container div { padding: 10px 3%; }  

.tab_container div.two_thirds {float: left;  margin: 0 5% 0 0; width: 59%; }  

.tab_container div.one_third  {float: left;   margin: 0 5% 0 0; width: 24%; } 



/* --- accordion --- */
.accordion { margin: 15px 0; padding: 0; position: relative;
}

.accordion div { margin: 0 0 5px 0; padding: 0;}
 
.accordion div.accordion_head
{
	 background: #121212;
 position: relative;
 z-index: 1;
	 border: 1px solid #2a2a2a;
	 margin: 0 0 5px 0;
	 
}

.accordion div.accordion_head a
{
	text-decoration: none;
	padding: 5px 10px;
		 display: block;
		 background:  url(images/elements/accordion_open.png) no-repeat 98% center;
}

.accordion div.accordion_head.active_acc a
{
	color: white;
		 background: #292929 url(images/elements/accordion_close.png) no-repeat 98% center;
}

.accordion div.accordion_content
{
	padding: 15px 20px 15px;
background: #121212;
border: 1px solid #2a2a2a;
border-top: 0;
top: -5px;
margin: 0;
		 position: relative;
		 z-index: 0;
}


/* --- toggles --- */

.toggle_box
{
	margin: 10px 0;
}

.toggle_box .hide
{
	padding: 5px 0;
}



.toggle_box .toggle
{
	padding: 0 0 0 20px;
	background:  url(images/elements/accordion_open.png) no-repeat left center;
	margin: 0 0 5px 0;
	display: block;

}


.toggle_alt .toggle_box
{
	background: #121212; text-decoration: none; border: 1px solid #2a2a2a;
	margin: 10px 0;
}

.toggle_alt .toggle_box .toggle{
	padding: 5px 0 4px 25px;
	text-decoration: none;
		background:  url(images/elements/accordion_open.png) no-repeat 5px center;
	}

.toggle_alt .toggle_box div
{
	padding: 5px 25px 15px 25px;
}


.toggle_alt .toggle_box .toggle
{
	
}

.toggle_alt .toggle_box .toggle.active
{
	background:  url(images/elements/accordion_close.png) no-repeat 5px center;
	color: white;
}

.separator
{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #787878;
}

/* Gallery Shortcodes to solve alignment issue */
#content ul.gallery_shortcode {
	margin: -10px 0 20px -10px; 
}
#content  ul.gallery_shortcode_slideviewer {
	margin: 0px;
}

#content  ul.gallery_shortcode_slideviewer li {
	margin: 0px;	
}

#stripTransmitter0 ul {
	margin: 0px !important;
}

#content.content_full_width .gallery_2columns
{
	margin: 0 0 20px -20px;
}

/* SLIDER */ 
#wrapper #slidecaption
{
 position: absolute;
 bottom: 30px;
 right: 0px;
 text-shadow: none;
 overflow:  visible;
 width: 550px;
 text-align: right;
}

.slider_details_bottom #wrapper #slidecaption
{
	 bottom: 95px;
}

#slidecaption h2
{

font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
font-weight: bold;
display: inline-block;
 padding: 10px 10px;
 text-transform: uppercase;
 font-size: 36px;
 line-height: 24px;
zoom: 1;
 right: 0;
 margin: 0;
  bottom: 33px;
 color: white;
background: url(images/slider-bg.png) repeat top left; }

#slidecaption p
{
color: white;
margin: 0;
display: block;
 padding: 7px;
 font: italic normal 16px 'PT Sans', Arial, sans-serif;
 position: relative; 
background: url(images/slider-bg.png) repeat top left;
right: 0;
bottom: -7px;
}

#wrapper #slidecaption a
{
	text-decoration: underline;
}

#wrapper #slidecaption a.slider_link
{
position: relative;
bottom: 0px;
 color: white; 
background: url(images/slider-bg.png) repeat top left;
padding: 4px 8px;
text-decoration: none;
margin: 0;
}

#wrapper #slidecaption a:hover
{
 text-decoration: underline;
}


.slider_details_bottom #wrapper #slidecounter
{
	bottom: 53px;
}

#wrapper #slidecounter
{
	position: absolute;
	right: 10px;
	bottom: 183px;
	color: white;
	text-shadow: none;
	font-size: 18px;
}

#nextslide {
background: url(images/thumb-forward.png) no-repeat scroll 0 0 transparent;
right: 60px;
bottom: 163px;
text-indent: -9999px;
}

 #prevslide {
 background: url(images/thumb-backward.png) no-repeat scroll 0 0 transparent;
 text-indent: -9999px;
bottom: 163px;
right: 90px;
}

.slider_details_bottom #wrapper #nextslide, .slider_details_bottom #wrapper  #prevslide
{
	bottom: 33px;
}

#wrapper #play-button
{
 position: absolute;
bottom: 173px;
right: 150px;
opacity: 0.7;
filter: alpha(opacity=70);
}

.slider_details_bottom #wrapper #play-button
{
	bottom: 42px;
}

#wrapper #play-button
{
	opacity: 1;
	filter: alpha(opacity=100);
}

.clearboth
{
	clear: both;
}

.shortcode-video {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* Vimeo Video Background */
div#backgroundvimeo {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
}
div#backgroundvimeo > iframe {
    border: medium none;
    display: block;
    height: 100%;
    width: 100%;
}

/* WordPress Calendar Style */
div#calendar_wrap table { 
	margin: 0; 
}
div#calendar_wrap thead th, #wp-calendar td { 
	padding: 0; 
}

/* Jetpack Subscription Fix */
.subscribe-label {
	margin: -5px 10px;
	display: inline !important;
}

/* WordPress Smilies */
#content .wp-smiley { 
	margin: 0px; 
}

/* Remove Link Outlines */
a {
	outline: none;
}


/* =========== CONTACT 7 STYLES ============ */ 

.wpcf7-file
{
	border: none;
}

.wpcf7 span.wpcf7-not-valid-tip
{
	color: white;
	padding: 3px 5px;
	background: black;
	font-size: 12px;
}

.wpcf7 .wpcf7-select
{
	background: #1b1b1b;
	border: 1px solid #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: white;

	font: 12px 'Helvetica Neue', Verdana, Helvetica, sans-serif;
}

.wpcf7 .wpcf7-select option
{
		padding: 5px 5px;
}